# Build
dist
build

# Editor
*~
\#*\#
.idea
.vscode

# Dependencies
node_modules

# NPM
package-lock.json
npm-debug.log*

# Yarn
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ENV
env.local.js
env.js
.env.local
.env.development.local
.env.test.local
.env.production.local
.nvmrc
